<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>855913683500-i0patouqus8e5hcplmi0boki5e3du65t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.855913683500-i0patouqus8e5hcplmi0boki5e3du65t</string>
	<key>API_KEY</key>
	<string>AIzaSyAFmhAD66SYOHqUZgpED-tveHCwqdGCvAA</string>
	<key>GCM_SENDER_ID</key>
	<string>855913683500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.homeU</string>
	<key>PROJECT_ID</key>
	<string>bibliotec-e5d70</string>
	<key>STORAGE_BUCKET</key>
	<string>bibliotec-e5d70.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:855913683500:ios:68dee9ff0d0c172de98f89</string>
</dict>
</plist>